@import 'bootstrap';
@import 'ember-power-select';

body {
  background-color: rgb(144, 139, 148);
  text-decoration: none;
}

.nav-link {
  font-weight: bold;
  font-size: 18px;
  color: black;
}

.card-img-top {
  max-width: 25%;
}
.ember-tooltip {
  padding: 10;
}
