@import 'bootstrap';
@import 'ember-power-select';

body {
  background-color: rgb(255, 255, 255);
  text-decoration: none;
}

.nav-link {
  font-weight: bold;
  font-size: 12px;
  color: black;
}

.card-img-top {
  max-width: 25%;
}
.ember-tooltip {
  padding: 10;
}

.navbar-helloUser {
  margin-right: 50px;
}
