@import 'bootstrap';
@import 'ember-power-select';

body {
  background-color: rgb(110, 207, 194);
}

.nav-link {
  font-weight: bold;
  font-size: 18px;
  color: black;
}

.card-img-top {
  max-width: 25%;
}
.ember-tooltip {
  padding: 10;
}

.card-contain {
  text-decoration: none;
}
