<nav class='navbar navbar-expand-lg bg-warning'>
  <div class='container-fluid'>
    <button
      class='navbar-toggler'
      type='button'
      data-bs-toggle='collapse'
      data-bs-target='#navbarNav'
      aria-controls='navbarNav'
      aria-expanded='false'
      aria-label='Toggle navigation'
    >
      <span class='navbar-toggler-icon'></span>
    </button>
    <div class='collapse navbar-collapse' id='navbarNav'>
      <ul class='navbar-nav'>
        <li class='nav-item'>
          <LinkTo
            class='nav-link active'
            aria-current='page'
            @route='main'
          >CarRental</LinkTo>
        </li>
        <li class='nav-item'>
          <LinkTo class='nav-link' @route='fleet'>Flota</LinkTo>
        </li>
        {{#if this.isUserLoggedIn}}
          <li class='nav-item'>
            {{! template-lint-disable link-href-attributes }}
            <LinkTo class='nav-link' @route='users'>Lista użytkowników</LinkTo>
          </li>

          <li class='nav-item'>
            {{! template-lint-disable link-href-attributes }}
            <LinkTo class='nav-link' @route='settings'>Ustawienia</LinkTo>
          </li>
        {{/if}}
        <li class='nav-item'>
          {{! template-lint-disable link-href-attributes }}
          <LinkTo class='nav-link' @route='login'>Logowanie</LinkTo>
        </li>
        <li class='nav-item'>
          {{! template-lint-disable link-href-attributes }}
          <LinkTo class='nav-link' @route='register'>Rejestracja</LinkTo>
        </li>
        {{#if this.isUserLoggedIn}}
          <li class='nav-item mx-50'>
            <span class='nav-link' role='button' {{on 'click' this.onLogout}}>
              WylogujMnie
            </span>
          </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>